/* 로그인 */
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem
}

body {
    background: white;
}

.card-signin {
    border: 0;
    border-radius: 0rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1)
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem
}

.card-signin .card-body {
    padding: 2rem
}

.form-signin {
    width: 100%
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 0rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem
}

.form-label-group input {
    height: auto
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x)
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out
}

.form-control:focus {
    box-shadow: 10px 0px 0px 0px #ffffff !important
}

.btn-google {
    color: white;
    background-color: #ea4335
}

.btn-facebook {
    color: white;
    background-color: #3b5998
}

/* 회원가입 */

body{
    background-color: white;
}

.registration-form{
	padding: 50px 0;
}

.registration-form form{
    background-color: white;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon{
	text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .social-media{
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    padding: 35px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons{
    margin-top: 30px;
    margin-bottom: 16px;
}

.registration-form .social-icons a{
    font-size: 23px;
    margin: 0 3px;
    color: #5691ff;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.registration-form .social-icons a:hover{
    text-decoration: none;
    opacity: 0.6;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}

/* settings */
.div_main {
	width: 1000px;
	margin-left: 50px;
	height: 800px;
	margin-top: 20px;
}

.form-group {
	width: 300px;
}

.col-md-offset-6 {
	color: rgb(39, 163, 255);
}

.wrap {
	width: 500px;
	height: 200px;
	border: 1px solid rgb(230, 230, 230);
	border-radius: 5px;
	position: relative;
}

.wrap2 {
	width: 500px;
	height: 80px;
	border: 1px solid rgb(230, 230, 230);
	border-radius: 5px;
}

.align_center {
	width: 60px;
	height: 60px;
	margin: 30px 0px 25px 200px;
}

.color1{
	font-size: 1em;
    font-weight: bold;
    background: none;
    color: black;
}

.color2{
	background: none;
	font-size: 0.9em;
}

.mt-4 {
	margin-top: 2px!important;
}	

.mt-4, .my-4 {
	margin-top: 2px!important;
}

#label_name{
	font-size: 1.1em;
	color: #78c2ad;
}

#div_md{
	font-size: small;
    margin-top: 10px;
    color: #a1a1a1;
}

.header-area .header-bottom{
	height: 119px;
}

.col-xl-2.col-lg-2.col-md-4 {
    margin-bottom: 17px;
    color: #888;
} 